.header
{
    width: 100%;
    height: 64px;
    background-color: #7abaff;
}

.middle{
    width: 100%;
    height: 600px;
    background-color: #86cfda;
}

.navigation{
    width: 20%;
    height: 100%;
    background-color: #1c7430;
}

.content {
    width: 80%;
    height: 100%;
    background-color: #5a6268;
}

.contentView{
    width: 100%;
    height: 80%;
}

.paginationView
{
    width: 100%;
    height: 20%;
}